body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9; /* Colore di sfondo chiaro e accogliente */
    color: #333333;
    line-height: 1.75;
    margin: 0;
    padding: 0 20px;
}

.title {
    color: #003366; 
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 5px;
}

a[href] {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: #0066cc; /* Colore blu visibile e coerente */
    font-weight: bold; /* Testo in grassetto */
    transition: color 0.3s ease-in-out; /* Transizione morbida */
}

a[href]:hover {
    text-decoration: underline; /* Sottolineatura al passaggio del mouse */
    color: #003399; /* Colore blu più scuro per hover */
}

h1, h2, h3 {
    color: #003366; /* Blu uniforme per titoli */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 2.5em;
}

h2 {
    margin-top: 25px;
    font-size: 2em;
}

h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px; /* Spaziatura maggiore tra gli elementi */
    font-size: 1.1em;
}

.lesson-title {
    color: #003366; /* Colore distintivo per i titoli delle lezioni */
    text-align: left;
    font-size: 2em; /* Dimensione leggermente più grande */
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase; /* Tutto maiuscolo per enfasi */
    border-bottom: 2px solid #014389; /* Linea decorativa sotto il titolo */
    padding-bottom: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Ombreggiatura leggera */
}

.section {
    background-color: #ffffff; /* Sfondo bianco per contrasto */
    color: #333333; /* Testo scuro per una buona leggibilità */
    padding: 20px; /* Spaziatura interna */
    margin: 20px auto; /* Centrare la sezione e aggiungere margini */
    border-radius: 10px; /* Angoli più arrotondati */
    max-width: 800px; /* Limita la larghezza per facilitare la lettura */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombreggiatura leggera */
    line-height: 1.8; /* Migliora la leggibilità del testo */
    font-size: 1.1em; /* Dimensione del font leggermente più grande */
    text-align: justify; /* Testo giustificato per un aspetto professionale */
}

.day {
    margin-left: 20px;
    padding: 10px;
    border-left: 3px solid #ccc;
    font-size: 1em;
    line-height: 1.5;
}

.day-exam {
    margin-left: 20px;
    padding: 10px;
    border-left: 3px solid #c400a6; /* Rosso acceso */
    background-color: #fab5f4; /* Rosso chiaro */
    font-size: 1em;
    line-height: 1.5;
    font-weight: bold;
}

.day-exercise {
    margin-left: 20px;
    padding: 10px;
    border-left: 3px solid #4da6ff; /* Blu acceso */
    background-color: #e3f2fd; /* Blu chiaro */
    font-size: 1em;
    line-height: 1.5;
    font-style: italic;
}

pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 0.95em;
}

code {
    font-family: "Courier New", Courier, monospace;
}

.bibliography {
    background-color: #e9f5e9;
    border-left: 4px solid #248202;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px; /* Bordo arrotondato */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.advanced {
    background-color: #f5e9f4;
    border-left: 4px solid #570282;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px; /* Bordo arrotondato */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.example {
    background-color: #f0f2f5;
    border-left: 4px solid #016ee3;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.approfondimento {
    background-color: #f0f2f5;
    border-left: 4px solid #9350ff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.test {
    background-color: #f0f2f5;
    border-left: 4px solid #db7a19;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.exercise {
    background-color: #f0f2f5;
    border-left: 4px solid #248202;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #333;
    text-align: center;
    margin-top: 15px;
    font-size: 0.9em;
    border-radius: 5px;
    gap: 20px;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: space-between; /* Allinea i link ai bordi */
    align-items: center;
    width: 100%; /* Usa tutta la larghezza disponibile */
    max-width: 800px; /* Limita la larghezza massima per estetica */
}

.footer-link {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.footer-logo img {
    height: 50px;
    width: auto;
    margin: 10px 0;
}

.footer-link.left {
    margin-right: 0; /* Rimuovi auto */
    order: 1; /* Mantieni a sinistra */
}

.footer-link.right {
    margin-left: 0; /* Rimuovi auto */
    order: 3; /* Mantieni a destra */
}
